@import './_variables';

html {
    font-family: map-get($map: $base, $key: font-family);
    height: 100%;
    color: #2B273C;
}

body {
    margin: 0;
    font-weight: 400;
    height: 100%;
}

#root {
    height: 100%;
    margin: auto;
}

a:link {
    text-decoration: none;
}

// a:visited {
//     color: #2B273C;
// }

// a:hover {
//     color: #FD6381;
// }

// a:active {
//     color: map-get($map: $base, $key: primary-color);
// }

.container {
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 1em;
    width: 100%;
    justify-content: center;
    display: flex;
}

.flex-columns {  
    display: flex;  
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    // overflow: hidden;
}

.left-side-bar {
    background-color: rgb(247, 245, 240);
    width: 15%;
    padding: 1em;

    .navigation {
        max-width: 275px;
        display:flex;
        flex-direction: column;
        
        .logo {
            padding: 0 0 2em 0;
        }

        .item {
            padding: 0.5em 0;
            font-weight: bold;
            font-weight: 700;
            
            &-active {
                color: map-get($map: $base, $key: primary-color);
            }
            &-notactive {
                color: map-get($map: $base, $key: default-black);
            }
        }
    }
}

.main {
    background-color: rgb(255, 241, 215);
    min-width: 600px;
    padding: 1em;
    margin: 0 1em;
}

.right-side-bar {
    background-color: rgb(247, 245, 240);
    padding: 1em;
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .right-side-bar {
        display: none;
    }
}