@import './_variables';

html {
    font-family: map-get($map: $base, $key: font-family);
    color: #2B273C;
}

body {
    margin: 0;
    font-weight: 400;
}

#root {
    margin: auto;
    width: 100vh;
}

a:link {
    text-decoration: none;
}

// a:visited {
//     color: #2B273C;
// }

// a:hover {
//     color: #FD6381;
// }

// a:active {
//     color: map-get($map: $base, $key: primary-color);
// }

.container {
    display: flex;
    justify-content: center;
    // overflow:auto;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.flex-columns {  
    display: flex;  
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    width: 100%;
}

.left-side-bar {
    background-color: rgb(247, 245, 240);
    padding: 1em;

    .navigation {
        text-align: right;
        display:flex;
        flex-direction: column;
        margin: 1em;
        
        .logo {
            padding: 0 0 2em 0;
        }

        .item {
            padding: 0.5em 0;
            font-weight: bold;
            font-weight: 700;
            
            &-active {
                color: map-get($map: $base, $key: primary-color);
            }
            &-notactive {
                color: map-get($map: $base, $key: default-black);
            }
        }
    }
}

.main {
    background-color: rgb(255, 241, 215);
    min-width: 600px;
    padding: 1em;
    overflow: auto;
    margin: 0 1em;
}::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.right-side-bar {
    background-color: rgb(247, 245, 240);
    padding: 1em;
    min-width: 275px;
    width: 25%;
}

@media only screen and (max-width: 768px) {
    .right-side-bar {
        display: none;
    }

    .main {
        width: 100%;
    }
}